@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  width: 100vw;
  font-family: "Noto Sans KR", sans-serif;
  background-color: aqua;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
}

strong, small {
  display: block;
}

ul, ol, li {
  list-style: none;
}

h1 {
  display: none;
}

:root {
  --work-pos: 0%;
  --design-img: ;
  --design-duration: 0;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: #171e40;
}

body::-webkit-scrollbar {
  display: none;
}

.grid {
  width: 87.5vw;
  margin: 0 auto;
  max-width: 1400px;
}

section > h2 {
  display: none;
}

header nav .gnb {
  display: flex;
  position: fixed;
  z-index: 10000;
  width: 100%;
  color: #fff;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: #ae29f6 1.5px solid;
  transition: all 1s ease;
}
header nav .gnb li {
  position: relative;
  width: 15%;
  text-align: center;
  overflow: hidden;
}
header nav .gnb li a {
  width: 100%;
  height: 25px;
  font-size: min(4.375vw, 22px);
  line-height: 25px;
  color: #5a5753;
  font-weight: 600;
}
header nav .gnb li a:hover {
  color: #fff;
}
header nav .gnb li a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: #ae29f6;
}
header nav .gnb .gnb-start a::before,
header nav .gnb .gnb-start--reverse a::before {
  width: 100%;
  transition: width 330ms ease;
}
header nav .gnb .gnb-start--reverse a::before {
  right: 0 !important;
}
header nav .gnb .gnb-end a,
header nav .gnb .gnb-end--reverse a {
  text-shadow: 0 0 20px rgba(77, 249, 255, 0.8235294118);
  color: #ae29f6;
}
header nav .gnb .gnb-end a::before,
header nav .gnb .gnb-end--reverse a::before {
  width: 100%;
  transition: all 330ms ease;
  color: #ae29f6;
  font-weight: 600;
  transform: translateX(110%) scale(1.2);
  transition-delay: 300ms;
}
header nav .gnb .gnb-end--reverse a::before {
  transform: translateX(-110%) scale(1.2);
}
header nav .close-gnb {
  transform: translateY(-100%);
}
header .banner {
  position: relative;
  height: 500vh;
}
header .banner__img {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
header .banner__img h2 {
  position: absolute;
  left: 50%;
  z-index: 100;
  color: #fff;
  font-family: "Luckiest Guy", cursive;
  font-size: min(16.5625vw, 90px);
  transform: translateX(-50%);
  margin-top: 70px;
  text-align: center;
  text-shadow: 0 0.1em 20px rgb(174, 41, 246), 0.05em -0.03em 0 rgb(174, 41, 246), 0.05em 0.005em 0 rgb(174, 41, 246), 0em 0.08em 0 rgb(174, 41, 246), 0.05em 0.08em 0 rgb(174, 41, 246), 0px -0.03em 0 rgb(174, 41, 246), -0.03em -0.03em 0 rgb(174, 41, 246), -0.03em 0.08em 0 rgb(174, 41, 246), -0.03em 0 0 rgb(174, 41, 246);
}
header .banner__img .banner__bg {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 500vh;
  height: 500vh;
  background: rgb(23, 30, 64);
  background: linear-gradient(0deg, rgb(133, 198, 227) 40%, rgb(255, 255, 255) 45%, #5f3f8e 55%, rgb(23, 30, 64) 65%);
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275); /* easeOutBack */
}
@keyframes rotate2 {
  100% {
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
header .banner__img .banner__bg .starry-sky {
  position: relative;
  bottom: -30%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%);
}
header .banner__img .banner__bg .starry-sky .star {
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  animation: twinky linear alternate infinite;
  opacity: 0;
}
@keyframes twinky {
  100% {
    opacity: 1;
  }
}
header .banner__img .banner__bg--person {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200vh;
  transform: translate(-50%, -50%);
}
header .banner__img .banner__bg--arm {
  position: absolute;
  top: 40.6%;
  left: 50.5%;
  z-index: 1000;
  width: 6.7vh;
  transform-origin: 0% 100%;
  animation: wave 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite alternate;
}
@keyframes wave {
  0% {
    transform: rotate(-11deg);
  }
  100% {
    transform: rotate(11deg);
  }
}
header .banner__img .banner__obj-box {
  display: flex;
  position: absolute;
  top: -30vh;
  left: 0;
  width: 100vw;
}
header .banner__img .banner__obj-box > img {
  position: absolute;
  transition: all 350ms cubic-bezier(0.68, -0.55, 0.265, 1.55); /* easeInOutBack */
  transform: translate(-50% -50%);
}
header .banner__img .banner__obj-box--cloud1 {
  top: 0;
  left: 60vw;
  width: 20vw;
  min-width: 120px;
}
header .banner__img .banner__obj-box--cloud2 {
  top: 0;
  left: 4vw;
  z-index: 3;
  width: 20vw;
  min-width: 140px;
  max-width: 180px;
}
@media screen and (min-width: 768px) {
  header .banner__img .banner__obj-box--cloud2 {
    left: 20vw;
  }
}
header .banner__img .banner__obj-box--planet-blue {
  top: 0;
  left: 70vw;
  width: 20vw;
  min-width: 100px;
  max-width: 130px;
}
header .banner__img .banner__obj-box--planet-red {
  top: 0;
  left: 20vw;
  width: 20vw;
  min-width: 130px;
  max-width: 180px;
}
header .banner__img .banner__obj-box.cloud .banner__obj-box--cloud1 {
  top: min(123.4375vw, 470px);
  transition-delay: 0.33s;
}
@media screen and (min-width: 768px) {
  header .banner__img .banner__obj-box.cloud .banner__obj-box--cloud1 {
    top: min(123.4375vw, 670px);
  }
}
header .banner__img .banner__obj-box.cloud .banner__obj-box--cloud2 {
  top: min(143.125vw, 540px);
}
@media screen and (min-width: 768px) {
  header .banner__img .banner__obj-box.cloud .banner__obj-box--cloud2 {
    top: min(123.4375vw, 740px);
  }
}
header .banner__img .banner__obj-box.planet .banner__obj-box--planet-red {
  top: min(87.5vw, 280px);
  transition-delay: 0.33s;
}
@media screen and (min-width: 768px) {
  header .banner__img .banner__obj-box.planet .banner__obj-box--planet-red {
    top: min(123.4375vw, 480px);
  }
}
header .banner__img .banner__obj-box.planet .banner__obj-box--planet-blue {
  top: min(125vw, 400px);
}
@media screen and (min-width: 768px) {
  header .banner__img .banner__obj-box.planet .banner__obj-box--planet-blue {
    top: min(123.4375vw, 600px);
  }
}
header .outer-img {
  position: relative;
  width: 100vw;
  height: 350px;
  overflow: hidden;
  background: #5f3f8e;
  background: linear-gradient(180deg, rgb(255, 255, 255) -52%, #5f3f8e 55%);
}
header .outer-img__half {
  position: absolute;
  left: 50%;
  width: 51.68vh;
  margin-top: -2px;
  transform: translateX(-50%);
  transform-origin: 50% 0%;
}

.about {
  position: relative;
  z-index: -2;
  padding-top: 100vh;
  overflow: hidden;
  margin-bottom: 400px;
  background-color: #171e40;
  background: linear-gradient(180deg, #5f3f8e 0%, #171e40 55%);
  color: #fff;
}
.about h2 {
  display: block;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: min(13vw, 230px);
  font-family: "Luckiest Guy", cursive;
  text-shadow: 0 0.1em 20px rgb(174, 41, 246), 0.05em -0.03em 0 rgb(174, 41, 246), 0.05em 0.005em 0 rgb(174, 41, 246), 0em 0.08em 0 rgb(174, 41, 246), 0.05em 0.08em 0 rgb(174, 41, 246), 0px -0.03em 0 rgb(174, 41, 246), -0.03em -0.03em 0 rgb(174, 41, 246), -0.03em 0.08em 0 rgb(174, 41, 246), -0.03em 0 0 rgb(174, 41, 246);
}
.about h2::before {
  content: "";
  position: absolute;
  top: -8%;
  right: -5%;
  width: 120%;
  height: 125%;
  background: rgb(65, 49, 109);
  background: linear-gradient(0deg, #473373 20%, rgb(76, 54, 122) 67%);
  transition: 1s all;
}
@media screen and (min-width: 768px) {
  .about h2::before {
    background: linear-gradient(0deg, #3a2d65 3%, #463373 80%);
  }
}
.about h4 {
  font-size: 22px;
  margin-bottom: 30px;
}
.about p {
  line-height: 26px;
}
.about-top {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .about-top {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 200px;
    justify-content: space-between;
    align-items: center;
  }
}
.about-top__img {
  position: relative;
  height: fit-content;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about-top__img {
    width: 44.4444vw;
    max-width: 640px;
  }
}
.about-top__img--laptop {
  width: 100%;
  padding: 2%;
  padding-bottom: 0;
}
.about-top__img--chair, .about-top__img--drop {
  position: absolute;
  right: 20%;
  bottom: 100%;
  z-index: 10;
  width: 35%;
  transition: bottom 600ms cubic-bezier(0.55, 0, 1, 0.45);
}
.about-top__img--chair {
  transition-delay: 300ms;
}
.about-top__img--drop {
  right: 17%;
  width: 40%;
  transition-delay: 1s;
}
.about-top__img--css, .about-top__img--git, .about-top__img--html, .about-top__img--jquery, .about-top__img--js, .about-top__img--react, .about-top__img--scss {
  position: absolute;
  transform: scale(0.8) translate(-50%, -50%);
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.about-top__img--css {
  top: 40%;
  left: 50%;
  width: 20%;
  animation-duration: 3s;
}
.about-top__img--jquery {
  top: 35%;
  left: 75%;
  width: 20%;
  animation-duration: 2s;
}
.about-top__img--html {
  top: 11.5%;
  left: 60%;
  width: 13%;
  animation-duration: 2.5s;
}
.about-top__img--scss {
  top: 12.5%;
  left: 37%;
  width: 14%;
  animation-duration: 1.7s;
  animation-delay: 300ms;
}
.about-top__img--js {
  top: 40%;
  left: 25%;
  width: 17%;
  animation-duration: 4s;
}
.about-top__img--git {
  top: 65%;
  left: 35%;
  width: 12%;
  animation-duration: 2.3s;
}
.about-top__img--react {
  top: 63%;
  left: 65%;
  width: 12%;
  animation-duration: 2.7s;
}
.about-top__txt {
  transition: all 1s linear;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .about-top__txt {
    width: 40vw;
    max-width: 530px;
  }
}
.about-top__txt-first {
  width: 100%;
  margin-bottom: 60px;
}
.about-top__txt-first h3 {
  margin: 30px 0;
  font-size: 16px;
}
.about-top__txt-first h3 strong {
  display: inline-block;
  position: relative;
  z-index: 20;
  font-size: 24px;
}
.about-top__txt-first h3 strong::before {
  content: "";
  transition: 2s;
  transition-delay: 0.7s;
  display: block;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  width: 0%;
  height: 5px;
  background-color: #ae29f6;
}
.about-top__txt-last {
  width: 100%;
  margin-bottom: 60px;
}
.about .top--focuse .about-top__img--chair {
  bottom: 10%;
}
.about .top--focuse .about-top__img--drop {
  bottom: 10%;
}
.about .top--focuse .about-top__img--css, .about .top--focuse .about-top__img--git, .about .top--focuse .about-top__img--html, .about .top--focuse .about-top__img--jquery, .about .top--focuse .about-top__img--js, .about .top--focuse .about-top__img--react, .about .top--focuse .about-top__img--scss {
  animation-name: scaleSkills;
}
@keyframes scaleSkills {
  100% {
    transform: scale(1) translate(-50%, -50%);
    transform-origin: 50% 50%;
  }
}
.about .top--focuse .about-top__txt {
  opacity: 1;
}
.about .top--focuse strong::before {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.about-btm__img {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-bottom: 20%;
}
@media screen and (min-width: 768px) {
  .about-btm__img {
    width: 44.4444vw;
    margin-bottom: 0;
  }
}
.about-btm__img--fish {
  position: absolute;
  top: -10%;
  left: 0;
  width: 40%;
  transition: 3s all;
}
.about-btm__img--scuba {
  z-index: 1000;
  width: 60%;
  margin: 0 auto;
  padding-top: 22%;
  transform: translate(-10% 0%);
}
@media screen and (min-width: 768px) {
  .about-btm__img--scuba {
    width: 75%;
    max-width: 200px;
  }
}
@keyframes moveScuba {
  50% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(3%);
  }
}
.about-btm__img--buble {
  position: absolute;
  left: 50%;
  z-index: 1000;
  width: 7%;
}
@keyframes fade1 {
  20% {
    opacity: 1;
  }
}
@keyframes fade2 {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes fade3 {
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes fade4 {
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
@keyframes fade5 {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.about-btm__img--buble .cls-1 {
  opacity: 0;
  fill: aqua;
  transition: all 1s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.about-btm__img--left-img {
  position: absolute;
  bottom: -10%;
  left: 50%;
  z-index: -1;
  width: 130%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .about-btm__img--left-img {
    width: 100%;
  }
}
.about-btm__txt {
  transition: all 1s linear;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .about-btm__txt {
    width: 40vw;
    max-width: 530px;
  }
}
.about-btm__txt-first, .about-btm__txt-last {
  margin-bottom: 60px;
}
.about .btm--focuse .about-btm__img--fish {
  top: 50%;
  left: 100vw;
  opacity: 0;
}
.about .btm--focuse .about-btm__img--scuba {
  animation: moveScuba 3s alternate infinite;
}
.about .btm--focuse .about-btm__img--buble .cls-1:nth-of-type(1) {
  animation-name: fade1;
}
.about .btm--focuse .about-btm__img--buble .cls-1:nth-of-type(2) {
  animation-name: fade2;
}
.about .btm--focuse .about-btm__img--buble .cls-1:nth-of-type(3) {
  animation-name: fade3;
}
.about .btm--focuse .about-btm__img--buble .cls-1:nth-of-type(4) {
  animation-name: fade4;
}
.about .btm--focuse .about-btm__img--buble .cls-1:nth-of-type(5) {
  animation-name: fade5;
}
.about .btm--focuse .about-btm__txt {
  opacity: 1;
}

.skill {
  width: 100vw;
  margin: 100px 0;
  background: #171e40;
}
.skill .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.skill .modal__box {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
  height: 87.5vw;
  border: #ae29f6 1.5px solid;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease;
  transition-delay: 600ms;
  text-align: center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .skill .modal__box {
    margin: 0 auto;
    max-height: 450px;
    max-width: 450px;
  }
}
@media screen and (min-width: 1400px) {
  .skill .modal__box {
    max-height: 490px;
    max-width: 490px;
  }
}
.skill .modal__box--close {
  cursor: pointer;
  position: absolute;
  top: max(-15vw, -80px);
  left: 50%;
  width: 40px;
  height: 40px;
  font-size: min(10vw, 50px);
  transform: translate(-50%);
  color: #ae29f6;
}
.skill .modal__box--close img {
  width: 100%;
}
.skill .modal__box--skill {
  width: 28.125vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .skill .modal__box--skill {
    max-width: 140px;
  }
}
@media screen and (min-width: 1400px) {
  .skill .modal__box--skill {
    max-width: 150px;
  }
}
.skill .modal__box p:nth-of-type(1) {
  position: relative;
  font-size: min(6.25vw, 38px);
  font-weight: 500;
  margin-top: min(3.125vw, 20px);
}
.skill .modal__box p:nth-of-type(1)::before {
  content: "";
  display: block;
  position: absolute;
  bottom: max(-3.125vw, -11px);
  left: 50%;
  width: min(6.25vw, 25px);
  height: min(0.625vw, 4px);
  background-color: #ae29f6;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .skill .modal__box p:nth-of-type(1)::before {
    bottom: max(-3.125vw, -19px);
  }
}
.skill .modal__box p:nth-of-type(2) {
  font-size: min(4vw, 18px);
  margin-top: min(6.25vw, 40px);
  padding: 0 25px;
}
@media screen and (min-width: 768px) {
  .skill .modal__box p:nth-of-type(2) {
    font-size: min(5vw, 20px);
    padding: 0 20px;
  }
}
.skill .modal__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.skill .modal__bg--rect {
  width: 0%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.7);
  transition-property: width, height;
  transition-timing-function: ease;
  transition-delay: 200ms;
}
.skill .modal__bg--rect:nth-of-type(1) {
  transition-duration: 400ms;
}
.skill .modal__bg--rect:nth-of-type(2) {
  transition-duration: 800ms;
}
.skill .modal__bg--rect:nth-of-type(3) {
  transition-duration: 1200ms;
}
.skill .modal__bg--rect:nth-of-type(4) {
  transition-duration: 1500ms;
}
.skill .modal--open {
  opacity: 1;
  pointer-events: visible;
}
.skill .modal--open .modal__bg--rect {
  width: 100%;
}
.skill .modal--open .modal__box {
  opacity: 1;
}
.skill__contain {
  position: relative;
  height: 500vh;
}
.skill__contain .skill__sticky {
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  align-content: space-around;
}
.skill__contain .skill__sticky::before {
  content: "SKILL";
  z-index: -2;
  color: #fff;
  font-size: min(15vw, 250px);
  font-family: "Luckiest Guy", cursive;
  text-shadow: 0 0.1em 20px rgb(174, 41, 246), 0.05em -0.03em 0 rgb(174, 41, 246), 0.05em 0.005em 0 rgb(174, 41, 246), 0em 0.08em 0 rgb(174, 41, 246), 0.05em 0.08em 0 rgb(174, 41, 246), 0px -0.03em 0 rgb(174, 41, 246), -0.03em -0.03em 0 rgb(174, 41, 246), -0.03em 0.08em 0 rgb(174, 41, 246), -0.03em 0 0 rgb(174, 41, 246);
}
.skill__contain .skill__sticky::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  z-index: -1;
  width: 70%;
  height: 20vw;
  transform: translateY(-60%);
  background-color: #171e40;
  transition: all 2s;
}
.skill__contain .skill__sticky .cards {
  display: flex;
  position: absolute;
  width: 95vw;
  height: fit-content;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .skill__contain .skill__sticky .cards {
    justify-content: center;
  }
}
.skill__contain .skill__sticky .cards:last-of-type {
  margin-top: min(56.5vw, 330px);
}
@media screen and (min-width: 768px) {
  .skill__contain .skill__sticky .cards:last-of-type {
    margin-top: min(40.5vw, 430px);
  }
}
@media screen and (min-width: 1400px) {
  .skill__contain .skill__sticky .cards:last-of-type {
    margin-top: min(56.5vw, 430px);
  }
}
.skill__contain .skill__sticky .cards:first-of-type {
  margin-bottom: min(56.5vw, 330px);
}
@media screen and (min-width: 768px) {
  .skill__contain .skill__sticky .cards:first-of-type {
    margin-bottom: min(40.5vw, 430px);
  }
}
@media screen and (min-width: 1400px) {
  .skill__contain .skill__sticky .cards:first-of-type {
    margin-bottom: min(56.5vw, 430px);
  }
}
.skill__contain .skill__sticky .cards__card {
  position: relative;
  width: 18.75vw;
  height: 26.525vw;
  margin: 0 min(1.5625vw, 8px);
  max-width: 110px;
  max-height: 150px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.78);
  transform: perspective(4000px) rotateY(180deg) translateX(100vw);
  transform-style: preserve-3d;
  border-radius: min(3.8vw, 15px);
}
@media screen and (min-width: 768px) {
  .skill__contain .skill__sticky .cards__card {
    width: 14.2857vw;
    height: 18.9286vw;
    margin: 0 10px;
    max-width: 150px;
    max-height: 200px;
    max-width: 150px;
    max-height: 200px;
  }
}
.skill__contain .skill__sticky .cards__card--front, .skill__contain .skill__sticky .cards__card--back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: min(3.8vw, 15px);
}
.skill__contain .skill__sticky .cards__card--front img, .skill__contain .skill__sticky .cards__card--back img {
  display: inline-block;
  z-index: 100;
  width: 50%;
}
.skill__contain .skill__sticky .cards__card--front {
  cursor: pointer;
  z-index: 0;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.skill__contain .skill__sticky .cards__card--front:hover {
  background-color: #efefef;
  transform: scale(1.05);
}
.skill__contain .skill__sticky .cards__card--front .cards__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%;
}
.skill__contain .skill__sticky .cards__card--front p {
  margin-top: min(1.25vw, 5px);
  font-size: min(3.125vw, 20px);
  font-weight: 600;
  color: #171e40;
}
@media screen and (min-width: 1400px) {
  .skill__contain .skill__sticky .cards__card--front p {
    font-size: min(3.4375vw, 22px);
  }
}
.skill__contain .skill__sticky .cards__card--back {
  z-index: -1;
  transform: rotateY(180deg);
  background-color: #fff;
}
.skill__contain .skill__sticky .cards__card--back::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 120%;
  height: 55%;
  transform: translateY(-50%);
  background-color: #ae29f6;
}

.work {
  position: relative;
  width: 100vw;
  height: 600vh;
  color: #fff;
}
.work__sticky {
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.work__sticky .work__abs-box {
  display: flex;
  position: absolute;
  left: 0px;
  background: #171e40;
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1); /* easeInOutBack */
}
.work__sticky .work__abs-box .work-list {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #171e40;
}
.work__sticky .work__abs-box .work-list__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}
.work__sticky .work__abs-box .work-list__bg > img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
}
.work__sticky .work__abs-box .work-list__bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #5f3f8e 0%, rgb(23, 30, 64) 100%);
  opacity: 0.5;
}
.work__sticky .work__abs-box .work-list .work-des {
  display: flex;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  transform: translateY(50px);
  opacity: 0;
  transition: all 400ms cubic-bezier(0.61, 1, 0.88, 1);
}
@media screen and (min-width: 768px) {
  .work__sticky .work__abs-box .work-list .work-des {
    display: flex;
    flex-direction: row-reverse;
  }
}
.work__sticky .work__abs-box .work-list .work-des__title {
  position: relative;
  margin: 0 auto;
  font-size: min(15vw, 250px);
  font-family: "Luckiest Guy", cursive;
  text-shadow: 0 0.1em 20px rgb(174, 41, 246), 0.05em -0.03em 0 rgb(174, 41, 246), 0.05em 0.005em 0 rgb(174, 41, 246), 0em 0.08em 0 rgb(174, 41, 246), 0.05em 0.08em 0 rgb(174, 41, 246), 0px -0.03em 0 rgb(174, 41, 246), -0.03em -0.03em 0 rgb(174, 41, 246), -0.03em 0.08em 0 rgb(174, 41, 246), -0.03em 0 0 rgb(174, 41, 246);
}
.work__sticky .work__abs-box .work-list .work-des__title::before {
  content: "";
  position: absolute;
  top: -7%;
  right: -5%;
  width: 120%;
  height: 130%;
  background-color: #171e40;
  transition: 1s all;
}
.work__sticky .work__abs-box .work-list .work-des__rf-contain {
  z-index: 100;
  width: 100%;
  height: fit-content;
  height: 33.5714vw;
  padding: 10px;
  line-height: 100vh;
  border: 1.5px solid #ae29f6;
  max-height: 400px;
  min-height: 330px;
}
@media screen and (min-width: 768px) {
  .work__sticky .work__abs-box .work-list .work-des__rf-contain {
    width: 45%;
    padding: 15px;
    border: 2px solid #ae29f6;
  }
}
.work__sticky .work__abs-box .work-list .work-des__rf-contain--border {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.work__sticky .work__abs-box .work-list .work-des__rf-contain--border img {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  animation-delay: 300ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: var(--design-duration);
  animation-timing-function: linear;
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain {
  width: 100%;
  height: 100%;
  height: fit-content;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .work__sticky .work__abs-box .work-list .work-des__lf-contain {
    display: flex;
    width: 50%;
    text-align: left;
    justify-content: center;
    flex-direction: column;
  }
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain > :nth-child(1n+2) {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition-property: opacity top;
  transition-duration: 400ms;
  transition-delay: 400ms;
  transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain h3 {
  margin: 20px 0;
  padding: 0 0 20px 0;
  font-size: clamp(20px, 3.4286vw, 38px);
  border-bottom: #ae29f6 1.5px solid;
}
@media screen and (min-width: 768px) {
  .work__sticky .work__abs-box .work-list .work-des__lf-contain h3 {
    border-bottom: #ae29f6 2px solid;
  }
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain small {
  position: relative;
  font-size: clamp(14px, 1.5714vw, 22px);
  color: #c6c6c6;
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain strong {
  margin: 20px 0;
  font-size: clamp(18px, 1.8714vw, 26px);
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain--time {
  font-size: clamp(14px, 1.5714vw, 22px);
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain--skill {
  margin: 20px 0 50px;
  color: #c6c6c6;
  word-spacing: 10px;
  font-size: clamp(14px, 1.5714vw, 22px);
}
@media screen and (min-width: 768px) {
  .work__sticky .work__abs-box .work-list .work-des__lf-contain--skill {
    margin: 20px 0 30px;
  }
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain .work__btns button {
  position: relative;
  width: 7.1429vw;
  height: 2.1429vw;
  min-width: 90px;
  max-width: 125px;
  min-height: 30px;
  max-height: 35px;
  border: 1.5px solid #ae29f6;
  cursor: pointer;
  font-size: clamp(13px, 1.3914vw, 20px);
  background: transparent;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .work__sticky .work__abs-box .work-list .work-des__lf-contain .work__btns button {
    width: 10.1429vw;
    height: 4.1429vw;
    max-width: 140px;
    max-height: 45px;
    border: 2px solid #ae29f6;
    margin-right: 2px;
    max-width: 140px;
    padding: 0 5px;
  }
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain .work__btns button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: #ae29f6;
  transition: 300ms linear;
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain .work__btns button:hover::before {
  width: 100%;
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain .work__btns button:hover {
  border: 1.5px solid #fff;
  font-weight: 500;
}
.work__sticky .work__abs-box .work-list .work-des__lf-contain .work__btns button a {
  color: #fff;
}
.work__sticky .work__abs-box .work-list .work-des--focuse {
  transform: translateY(0);
  opacity: 1;
}
.work__sticky .work__abs-box .work-list .work-des--focuse .work-des__lf-contain :nth-child(1n+2) {
  position: relative;
  transform: translateY(0);
  opacity: 1;
}
.work__sticky .work__abs-box .work-list .work-des--focuse .work__btns {
  transition-delay: 800ms;
}
.work__sticky .work__abs-box .work-list .work-des--focuse img {
  display: block;
  animation-name: scrollImg;
}
@keyframes scrollImg {
  100% {
    transform: translateY(0%);
  }
}
.work__sticky .work__abs-box .work-list .first-des {
  top: 0;
  margin-top: 0;
  opacity: 1;
}
.work .design-guide {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.work .design-guide__close {
  cursor: pointer;
  position: absolute;
  top: 10vh;
  right: 10%;
  width: 40px;
  height: 40px;
  z-index: 2000;
  color: #fff;
  font-size: 40px;
  background-color: transparent;
  mix-blend-mode: difference;
  transition: 1s ease;
  opacity: 0;
  transition-delay: 1000ms;
  border: none;
}
.work .design-guide__close img {
  width: 100%;
}
.work .design-guide__box {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow-y: scroll;
}
.work .design-guide__box--content, .work .design-guide__box--rect {
  background-color: #efefef;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 400ms;
}
.work .design-guide__box--rect {
  z-index: 10;
  height: 25%;
  overflow: hidden;
}
.work .design-guide__box--rect:nth-child(1) {
  top: 0%;
  background-position: 0 0%;
  transition-duration: 400ms;
  transform: translateX(-100%);
}
.work .design-guide__box--rect:nth-child(2) {
  top: 25%;
  background-position: left 0 top -25vh;
  transition-duration: 800ms;
  transform: translateX(100%);
}
.work .design-guide__box--rect:nth-child(3) {
  top: 50%;
  background-position: left 0 top -50vh;
  transition-duration: 1200ms;
  transform: translateX(-100%);
}
.work .design-guide__box--content {
  top: 0;
  z-index: -1;
  width: 100%;
  height: max-content;
  background-position: left 0 top -75vh;
  transition-duration: 1500ms;
  transform: translateX(100%);
  overflow: hidden;
}
.work .design-guide__box--content img {
  width: 100%;
  transform: translateY(-75vh);
  margin-bottom: -25vh;
}
.work .design-guide--hotel .design-guide__box--rect {
  background-image: url(../images/work/design-hotel.jpg);
}
.work .design-guide--godiva .design-guide__box--rect {
  background-image: url(../images/work/design-godiva.jpg);
}
.work .design-guide--profile .design-guide__box--rect {
  background-image: url(../images/work/design-profile.jpg);
}
.work .design-guide--open {
  visibility: visible;
}
.work .design-guide--open .design-guide__close {
  opacity: 1;
}
.work .design-guide--open .design-guide__box--rect,
.work .design-guide--open .design-guide__box--content {
  transform: translateX(0%);
}

.contect {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 80px 0;
  margin-top: 100px;
  background-color: #171e40;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contect h2 {
  font-family: "Luckiest Guy", cursive;
  text-shadow: 0 0.1em 20px rgb(174, 41, 246), 0.05em -0.03em 0 rgb(174, 41, 246), 0.05em 0.005em 0 rgb(174, 41, 246), 0em 0.08em 0 rgb(174, 41, 246), 0.05em 0.08em 0 rgb(174, 41, 246), 0px -0.03em 0 rgb(174, 41, 246), -0.03em -0.03em 0 rgb(174, 41, 246), -0.03em 0.08em 0 rgb(174, 41, 246), -0.03em 0 0 rgb(174, 41, 246);
  color: #fff;
  font-size: min(14vw, 84px);
  text-align: center;
  margin-bottom: 20px;
}
.contect__sns {
  display: grid;
  margin: 0 10px;
  padding: 6.25vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: min(2.25vw, 30px);
  justify-content: center;
  overflow: hidden;
  transition: all 2s linear;
}
@media screen and (min-width: 768px) {
  .contect__sns {
    display: flex;
    width: fit-content;
    padding: 1.7857vw;
  }
}
.contect__sns--github, .contect__sns--velog, .contect__sns--gmail {
  position: relative;
  opacity: 0;
  transition: all 1s linear;
  transform: translateY(15%);
  overflow: hidden;
  border-radius: min(4.6875vw, 30px);
}
.contect__sns--github img, .contect__sns--velog img, .contect__sns--gmail img {
  width: 100%;
}
.contect__sns--character {
  position: relative;
  width: 29.0625vw;
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .contect__sns--character {
    display: none;
    transform: scale(1);
  }
}
.contect__sns--character img {
  position: absolute;
  left: 0px;
  width: 52.5vw;
  transition: all 600ms linear;
  transform: translateX(100%);
}
.contect .focuse-contect {
  border-top: 1.5px solid #ae29f6;
  border-bottom: 1.5px solid #ae29f6;
  transition-delay: 2000ms;
}
.contect .focuse-contect p:nth-of-type(1n) {
  opacity: 1;
  transform: translateY(0%);
}
.contect .focuse-contect p:nth-of-type(1) {
  transition-delay: 500ms;
}
.contect .focuse-contect p:nth-of-type(2) {
  transition-delay: 1000ms;
}
.contect .focuse-contect p:nth-of-type(3) {
  transition-delay: 1500ms;
}
.contect .focuse-contect p:nth-of-type(4) img {
  transition-delay: 2000ms;
  transform: translate(0);
}

.fade-title h2::before {
  width: 0px;
}

.fade-title .work-des__title::before {
  width: 0px !important;
}

.fade-title .skill__sticky::after {
  width: 0px;
}