@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
//조별포폴은 하이퍼링크 // 본인의 깃페이지로 연결할것

//나머지는 파일로 링크걸기 (project폴더로 구성)
// project폴더 - pages 
//            - image
//            - css 등 
//리엑트는 하이퍼링크 

body{
  // position: fixed ;
  // height: 100%;
  // touch-action: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.grid{
  //  width: 89.74358974358974%;
  width: 87.5vw;
  margin: 0 auto;
  max-width: 1400px;
}

section > h2{
  display: none;
}

header{
  nav {
    .gnb{
      position: fixed;
      color: #fff;
      display: flex;
      z-index: 10000;
      // align-items: center;
      width: 100%;
      justify-content: center;
      background-color: rgba(0,0,0,0.7);
      border-bottom: #ae29f6 1.5px solid;

      li{
        position: relative;
        width: 15%;
        text-align: center;
        overflow: hidden;

        a{
          font-size: min(4.3750vw,22px);
          width: 100%;
          height: 25px;
          line-height: 25px;
          color: #5a5753;
          font-weight: 600;
      
          &:hover{
            color : #fff;
          }

          &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 0%;
            height: 100%;
            background-color: #ae29f6;
          }

        }
      }

      .gnb-start,
      .gnb-start--reverse{
        a::before {
          width: 100%;
          transition: width 330ms ease;
        }
      } 

      .gnb-start--reverse {
        a::before {
          right: 0 !important;
        }
      }

      .gnb-end,
      .gnb-end--reverse {
        a{
          text-shadow: 0 0 20px #4df9ffd2;
          color: #ae29f6;
          &::before {
            width: 100%;
            transition: all 330ms ease;
            color: #ae29f6;
            font-weight: 600;
            transform : translateX(110%) scale(1.2);
            transition-delay: 300ms;
         
          }             
        }
      }

      .gnb-end--reverse {
        a::before {
          transform : translateX(-110%) scale(1.2);  
        }
      }

    }
  }
  .banner {
  position: relative;
  height: 500vh;

  &__img{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    h2{
      position: absolute;
      left: 50%;
      z-index: 100;
      color: #fff;
      font-family: "Luckiest Guy", cursive;
      font-size: min(16.5625vw , 90px);
      transform: translateX(-50%);
      margin-top: 70px;
      text-align: center;

      text-shadow: 
      0 0.1em 20px rgba(174,41,246, 1), 
      0.05em -0.03em 0 rgba(174,41,246, 1),
      0.05em 0.005em 0 rgba(174,41,246, 1),
      0em 0.08em 0 rgba(174,41,246, 1),
      0.05em 0.08em 0 rgba(174,41,246, 1), 
      0px -0.03em 0 rgba(174,41,246, 1),
      -0.03em -0.03em 0 rgba(174,41,246, 1), 
      -0.03em 0.08em 0 rgba(174,41,246, 1),
      -0.03em 0 0 rgba(174,41,246, 1);
    }

    .banner__bg {
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 500vh;
      height: 500vh;
      background: rgb(23,30,64);
      background: linear-gradient(0deg,  rgba(133,198,227,1) 40%, rgba(255,255,255,1) 45%,#5f3f8e 55%, rgba(23,30,64,1) 65%);
      transform-origin: 50% 50%;
      transform: translate(-50% ,-50%) rotate(180deg) ;
      transition: all 600ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */;

      
      @keyframes rotate2 {
        100%{
          transform-origin: 50% 50%;
          transform: translate(-50% ,-50%) rotate(0deg);
        }
      }

      &--person {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 200vh;
        transform: translate(-50% , -50%);
      }

      &--arm{
        position: absolute;
        top:40.6%;
        left: 50.50%;
        z-index: 1000;
        width: 6.7vh;
        transform-origin: 0% 100%;

        animation: wave 0.7s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite alternate;
        @keyframes wave {
          0% {
            transform: rotate(-11deg);
          }
          100%{
            transform: rotate(11deg);
          }
        }
      }

    }

    .banner__obj-box{
      display: flex;
      position: absolute;
      top: -30vh;
      left: 0;
      width: 100vw; 
      // transform: translateY(100%);
      // width: 200vh;

      & > img{
        position: absolute;
        transition: all 350ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
        transform: translate(-50% -50%);
      }

      &--cloud1{
        top: 0;
        left: 60vw;
        width: 20vw;
        min-width: 120px;

      }
      &--cloud2{
        top: 0;
        left: 4vw;
        z-index: 3;
        width: 20vw;
        min-width: 140px;
        max-width: 180px;

      }
      &--planet-blue{
        top: 0;
        left: 70vw;
        width: 20vw;
        min-width: 100px;
        max-width: 130px;


      }
      &--planet-red{
        top: 0;
        left: 20vw;
        width: 20vw;
        min-width: 130px;
        max-width: 180px;

      }

      &.cloud {
        .banner__obj-box--cloud1{
          top: min(123.4375vw , 470px ) ;
        transition-delay: .33s;

        @include responsive(tablet-screens) {
          top: min(123.4375vw , 670px ) ;
        }
        }
        .banner__obj-box--cloud2{
            top: min(143.1250vw , 540px ) ;

          @include responsive(tablet-screens) {
            top: min(123.4375vw , 740px ) ;
      
          }
        }
      }

      &.planet {
        .banner__obj-box--planet-red{
          top: min(87.5vw , 280px ) ;
        transition-delay: .33s;

        @include responsive(tablet-screens) {
          top: min(123.4375vw , 480px ) ;
      
        }
        }
        .banner__obj-box--planet-blue{
          top: min(125vw , 400px ) ;

          @include responsive(tablet-screens) {
            top: min(123.4375vw , 600px ) ;
      
          }
        }
      }
      
    }
  }//banner__img
}

  .outer-img{
    width: 100vw;
    overflow: hidden;
    position: relative;
    height: 250px;
    background: #5f3f8e;
    background: linear-gradient(180deg,  rgba(255,255,255,1) -52%,#5f3f8e 55%);
    &__half{
      position: absolute;
      left: 50%;
      width: 51.68vh;
      margin-top: -2px;
      // margin-left: 5.3px;
      transform: translateX(-50%);
      transform-origin: 50% 0%;
    }

  }//banner
}



.about{
  position: relative;
  height: 200vh;
  padding-top: 500px;
  margin-bottom: 400px;
  background-color: #171e40;
  background: linear-gradient(180deg,  #5f3f8e 0%,#171e40 55%);
  color: #fff;

  & > img{
    position: absolute;
    bottom: 0;
    display: none;
  }

  h4{
    font-size: 22px;
    margin-bottom: 30px;
  }

  p{
    line-height: 26px;
  }

  &-top{
    margin-bottom: 60px;

    @include responsive(tablet-screens) {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 200px;
      justify-content: space-between;
    }

    &__img{
      padding: 20px;
      border:  1px solid #ae29f6;
      position: relative;
      height: fit-content;
      overflow: hidden;

      @include responsive(tablet-screens) {
        width: 44.4444vw;
        max-width: 640px;
      }
      
      &--laptop{
        width: 100%;
        padding: 2%;
        padding-bottom: 0;
      }
      
      &--chair,
      &--drop{
        width: 35%;
        position: absolute;
        bottom: 10%;
        right: 20%;
        z-index: 10;
      }

      &--drop{
        position: absolute;
        width: 40%;
        right: 17%;
        bottom: 100%;
        transition: bottom 600ms cubic-bezier(0.55, 0, 1, 0.45);
      }

      &--css,
      &--git,
      &--html,
      &--jquery,
      &--js,
      &--react,
      &--scss
      {
        transform: translate(-50% ,-50%);
        position: absolute;
      }

      &--css{
        width: 20%;
        left: 50%;
        top: 40%;
      }
      &--jquery{
        width: 20%;
        left: 75%;
        top: 35%;
      }
      &--html{
        width: 13%;
        top: 11.5%;
        left: 60%;
      }
      &--scss{
        width: 14%;
        top: 12.5%;
        left: 37%;
      }
      &--js{
        width: 17%;
        top: 40%;
        left: 25%;
      }
      &--git{
        width: 12%;
        top: 65%;
        left: 35%;
      }

      &--react{
        width: 12%;
        top: 63%;
        left: 65%;
      }
    }

    &__txt{

      @include responsive(tablet-screens) {
        width: 40vw;
        max-width: 530px;
      }


      &-first{
        width: 100%;
        margin-bottom: 60px;
        h3{
          margin: 30px 0;
          font-size: 16px;
          strong{
            display: inline-block;
            position: relative;
            z-index: 20;
            font-size: 24px;

            &::before{
              content: "";
              display: block;
              position: absolute;
              bottom: 5px;
              z-index: -1;
              width: 100%;
              height: 5px;
              background-color: #ae29f6;
            }
          }
        }
      }

      &-last{
        width: 100%;
        margin-bottom: 60px;
      }
    }
  }
  
  &-btm{
    @include responsive(tablet-screens) {
      display: flex;
      justify-content: space-between;
    }

    &__img{
      width: 100%;
      padding: 10px;
      border: #ae29f6 1px solid;
      @include responsive(tablet-screens) {
        width: 44.4444vw;
        // max-width: 640px;
      }

      img{
        width: 50%;
        margin: 0 auto;
        // height: 100%;
        // object-fit: contain;
      }
    }

    &__txt{

      @include responsive(tablet-screens) {
        width: 40vw;
        max-width: 530px;
      }

      &-first,
      &-last{
        margin-bottom: 60px;
      }
    }
  }
}

.skill{
  width: 100vw;
  margin: 100px 0;
  background: #171e40;
  // margin-bottom: 100px;
  // position: fixed ;
  // height: 100vh;
  // touch-action: none;

  .modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    &__box{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 101;
      height: 87.5vw;
      border: #ae29f6 1.5px solid;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 1s ease;
      transition-delay: 200ms;
      text-align: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include responsive(tablet-screens) {
       margin: 0 auto;
        max-height: 450px;
       max-width: 450px;
      }

      @include responsive(pc-screens) {
        max-height: 490px;
        max-width: 490px;
       }

      img{
        width: 28.125vw;
        margin: 0 auto;
        // margin-top: 100px;

        @include responsive(tablet-screens) {
          max-width: 140px;
         }

         @include responsive(pc-screens) {
          max-width: 150px;
         }
  
      }
 
      p:nth-of-type(1){
        font-size: min(6.25vw,38px);
        font-weight: 500;
        margin-top: min(3.125vw,20px);
        position: relative;

        &::before{
          content: "";
          position: absolute;
          display: block;
          width: min(6.2500vw,25px);
          height: min(0.6250vw,4px);
          background-color: #ae29f6;
          left: 50%;
          bottom: max(-3.1250vw , -11px);
          transform: translateX(-50%);

          @include responsive(tablet-screens) {
          bottom: max(-3.1250vw,-19px);
         }

        }
      }

      p:nth-of-type(2){
        font-size: min(5vw,22px);
        margin-top: min(6.25vw,40px);
      }

    }


    &__circle{
      position: absolute;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.7);
      transition-property: width, height;
      transition-timing-function: ease;
      transition-duration: 1s;
    }
  }

  .modal--open-t{
    .modal__circle{
      top: 0;
      left: 0;
      width: 300vw;
      height: 300vh;
      transform : translate(-50% , -50%);
    }

    .modal__box{
      opacity: 1;
    }
  }

  .modal--open-b{
    .modal__circle{
      right: 0;
      bottom: 0;
      width: 300vw;
      height: 300vh;
      transform : translate(50% , 50%);
    }

    .modal__box{
      opacity: 1;
    }
  }

  .modal--close-t{
    .modal__circle{
      top: 0;
      left: 0;
      width: 0vw;
      height: 0vh;
      transform : translate(-50% , -50%);
    }
  }

  .modal--close-b{
    .modal__circle{
      right: 0;
      bottom: 0;
      width: 0vw;
      height: 0vh;
      transform : translate(50% , 50%);
    }
  }

  &__contain{
    position: relative;
    height: 500vh;

    // width: 320px;

    .skill__sticky{
      display: flex;
      position: sticky;
      top: 0px;
      width: 100%;
      height: 100vh;
      justify-content: center;
      overflow: hidden;
      align-items: center;
      align-content: space-around;


      &::before{
        content: "SKILL";
        color: #fff;
        font-size: 15vw;
        font-family: "Luckiest Guy", cursive;
        text-shadow: 
        0 0.1em 20px rgba(174,41,246, 1), 
        0.05em -0.03em 0 rgba(174,41,246, 1),
        0.05em 0.005em 0 rgba(174,41,246, 1),
        0em 0.08em 0 rgba(174,41,246, 1),
        0.05em 0.08em 0 rgba(174,41,246, 1), 
        0px -0.03em 0 rgba(174,41,246, 1),
        -0.03em -0.03em 0 rgba(174,41,246, 1), 
        -0.03em 0.08em 0 rgba(174,41,246, 1),
        -0.03em 0 0 rgba(174,41,246, 1);
      }

      
      
      .cards{
        display: flex;
        position: absolute;
        width: 95vw; ///s
        height: fit-content;
        // justify-content: space-evenly;
        justify-content: center;
        align-items: center;


        @include responsive(tablet-screens) {
          justify-content: center;
        }


        &:last-of-type{
          margin-top: min(56.5vw,330px);;
          @include responsive(tablet-screens) {
            margin-top: min(40.5vw,430px);;
          }

          @include responsive(pc-screens) {
            margin-top: min(56.5vw,430px);;
          }
        }


        &:first-of-type{
          margin-bottom: min(56.5vw,330px);
          @include responsive(tablet-screens) {
          margin-bottom: min(40.5vw,430px);;
          }

          @include responsive(pc-screens) {
            margin-bottom: min(56.5vw,430px);;
          }
        }
  
        &__card{
          position: relative;
          // width: 23.4375vw;
          // height: 30.3125vw;
          width: 18.7500vw;
          height: 26.5250vw;
          margin: 0 min(1.5625vw,8px);
          max-width: 110px;
          max-height: 150px;
          background-color: #fff;
          // line-height : 100%;
          text-align: center;
          box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.78);
          border-radius: min(3.8vw,15px);
          // overflow: hidden;
          transform: perspective(4000px) rotateY(180deg) translateX(100vw);
          transform-style: preserve-3d;

          @include responsive(tablet-screens) {
            width: 14.2857vw;
            height: 18.9286vw;
            margin: 0 10px;
            // border-radius: 20px;
            max-width: 150px;
            max-height: 200px;
            max-width: 150px;
            max-height: 200px;
            border-radius: min(2.1429vw,30px);
          }


          &--front,
          &--back
          {
            display: flex;
            position: absolute;
            // left: 0;
            // top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            backface-visibility: hidden;
            transform-style: preserve-3d;


            @include responsive(tablet-screens) {
            border-radius: 2.1429vw;
            }
          
  
            img{
              display: inline-block;
              z-index: 100;
              width: 50%;
            }
          }
          
          &--front{
            z-index: 0;
            flex-direction: column;
            align-items: center;
            background-color: #fff;

      
            p{

              margin-top: min(1.2500vw,13px);
              font-size: min(3.1250vw,20px);
              
              font-weight: 600;
              color: #171e40;

              @include responsive(pc-screens) {
                font-size: min(3.4375vw,22px);
                }
            }

           
          }
          
          &--back{
            z-index: -1;
            transform: rotateY(180deg);
            background-color: #fff;

            @include responsive(tablet-screens) {
            border-radius: 20px;
            }


            &::before{
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              width: 120%;
              height: 55%;
              transform: translateY(-50%);
              background-color: #ae29f6;
            }
          }
        }
        
      }
  }
  }
} //skill




.work{
  position: relative;
  width: 100vw;
  height: 600vh;
  color: #fff;

  
  &__sticky{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;


  
    .work__abs-box{ 
      display: flex;
      position: absolute;
      left: 0px;
      background: #171e40;
      transition: all .5s cubic-bezier(0.25, 1, 0.5, 1); /* easeInOutBack */


      .work-list{
        display: flex;
        position: relative;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background: #171e40;



        &__bg{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          height: 100vh;
          overflow: hidden;

          & > img{
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(4px);
            object-fit: cover;
          }

          &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg,#5f3f8e 0%, rgba(23,30,64,1) 100%);;
            opacity: 0.5;
            }
        }  // bg

        .work-des{
          display: flex;
          z-index: 100;
          flex-direction: column;
          align-items: center;
          margin-top: 300px;
          opacity: 0;
          transition: all 400ms linear;

          
          @include responsive(tablet-screens) {
            display: flex;
            flex-direction: row-reverse;
          }
        
          &__rf-contain{
              z-index: 100;
              height: fit-content;
              height: 33.5714vw;
              padding: 10px;
              line-height: 100vh;
              border: 1.5px solid #ae29f6;
              max-height: 400px;
               min-height: 330px;
      
              @include responsive(tablet-screens) {
                width: 45%;
                padding: 15px;
              }
      
              &--border {
                position: relative;
                height: 100%;
                overflow: hidden;
      
                img {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
          }
    
          &__lf-contain{
            width: 100%;
            height: 100%;
            height: fit-content;
            @include responsive(tablet-screens) {
              display: flex;
              width: 50%;
              justify-content: center;
              flex-direction: column;
            }

            & > :nth-child(1n + 2){
              position: relative;
              top : 100px;
              opacity: 0;
              transition-property: opacity top;
              transition-duration: 600ms;
              transition-delay: 300ms;
            }
            
         
            h3{
              margin: 20px 0;
              font-size: clamp(20px , 3.4286vw , 48px);
              @include responsive(tablet-screens) {
                margin:  0 0 20px 0;

              }
            }
      
            small{
              position: relative;
              // top: 100px;
              padding-top: 30px;
              border-top: #ae29f6 1.5px solid;
              font-size:clamp(14px , 1.5714vw , 22px);
              color: #c6c6c6;
            }
      
            strong{
              margin: 20px 0;
              font-size:clamp(18px , 1.8714vw , 26px);
      
            }
            &--time{
              // font-size: 14px;
              font-size:clamp(14px , 1.5714vw , 22px);
      
            }
      
            &--skill{
              margin: 20px 0 50px;
              color: #c6c6c6;
              // font-size: 14px;
              word-spacing: 10px;
              font-size:clamp(14px , 1.5714vw , 22px);
  
              @include responsive(tablet-screens) {
                margin: 20px 0 30px;
              }
            
  
            }
          
            .work__btns{
              button{
                width: 7.1429vw;
                height: 2.1429vw;
                min-width: 90px;
                max-width: 120px;
                min-height: 30px;
                max-height: 35px;
                border: 1.5px solid #ae29f6;
                cursor: pointer;
                font-size:clamp(14px , 1.5714vw , 20px);
                background: transparent;
                color: #fff;
  
  
                @include responsive(tablet-screens) {
                  width: 10.1429vw;
                  height: 4.1429vw;
                  max-width: 140px;
                  max-height: 45px;
                }
              }
            }

            
            
          }


        } //work-des

        .work-des--focuse{
          margin-top: 0;
          opacity: 1;

          .work-des__lf-contain :nth-child(1n + 2){
            // background-color: red;
            position: relative;
            top: 0px;
            opacity: 1;
          }
        }

      } //work-list
    }
  }
}

.contect{
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 80px 0;
  background-color: #171e40;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include responsive(tablet-screens) {
    // display: flex;
  }
  h2{
    font-family: "Luckiest Guy", cursive;
    text-shadow: 
    0 0.1em 20px rgba(174,41,246, 1), 
    0.05em -0.03em 0 rgba(174,41,246, 1),
    0.05em 0.005em 0 rgba(174,41,246, 1),
    0em 0.08em 0 rgba(174,41,246, 1),
    0.05em 0.08em 0 rgba(174,41,246, 1), 
    0px -0.03em 0 rgba(174,41,246, 1),
    -0.03em -0.03em 0 rgba(174,41,246, 1), 
    -0.03em 0.08em 0 rgba(174,41,246, 1),
    -0.03em 0 0 rgba(174,41,246, 1);
    color: #fff;
    font-size: min(12vw , 64px)  ;
    text-align: center;
    margin-bottom: 20px;
  }

  &__sns{

    display: grid;
    margin: 0 10px;
    padding: 6.2500vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: min( 2.2500vw, 30px);
    border: 1.5px solid #ae29f6;
    justify-content: center;
    overflow: hidden;

    @include responsive(tablet-screens) {
      display: flex;
      width: fit-content;
      padding: 1.7857vw;
    }

    // @include responsive(tablet-screens) {
    //   width: 33%;
    // }


    &--github,
    &--velog,
    &--gmail
    {
      // width: min(43.1250vw , 290px);

      img{
        width: 100%;
        border-radius: min(4.6875vw , 30px);
      }
    }


    &--character{
      position: relative;
      width: 29.0625vw;
      transform: scale(1.10);
        @include responsive(tablet-screens) {
          display: none;
          transform: scale(1);
        }
      svg{
        position: absolute;
        left: 0px;
        width: 52.5vw;
      }
    }
  }
}


