@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
img {
  display: block;
}
h1,
h2 {
  font-size: 0;
}

h3 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 40px;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

ol,
ul,
li {
  list-style: none;
}
